
    <div class="slider-wrapper relative overflow-hidden h-full" >
      <div class="slider flex transition-transform duration-1000 ease-in-out" [ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)'}">
        <!-- Slide 1 -->
        <div class="slider-item w-full flex-shrink-0 relative" *ngFor="let slide of slides">
          <img [src]="slide.imageUrl" alt="{{slide.title}}" class="w-full h-full object-cover" style="max-height: 500px;">
    
          <!-- Overlay con transparencia -->
          <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    
          <!-- Contenido sobre la imagen -->
          <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-10">
            <h1 class="text-4xl font-bold mb-4">{{slide.title}}</h1>
            <p class="mb-2 text-lg">{{slide.description}}</p>
            <button class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600">{{slide.buttonText}}</button>
          </div>
        </div>
      </div>
    </div>
    